[submodule "ts-rest-kit"]
	path = apps/www/src/ts-rest-kit
	url = git@github.com:ashgw/ts-rest-kit.git

[submodule "design"]
	path = packages/design
	url = git@github.com:ashgw/design.git

[submodule "security"]
	path = packages/security
	url = git@github.com:ashgw/security.git

