auto-install-peers = false
node-linker = hoisted
shamefully-hoist = true
dedupe-direct-deps = true
enable-pre-post-scripts=true
provenance=true
save-exact=true

# ts-rest/core uses unique symbols, thus we need to have the same copy
public-hoist-pattern[]=@ts-rest/*
