/* Dimmed text levels (gray scale variants) */
.text-dim-100 {
  color: hsl(0deg 0% 48%);
}

.text-dim-200 {
  color: hsl(0deg 0% 65%);
}

.text-dim-300 {
  color: hsl(0deg 0% 75%);
}

.text-dim-400 {
  color: hsl(0deg 0% 90%);
}

.text-dim-500 {
  color: hsl(0deg 0% 95%);
}

.gradient-text-accent {
  background-image: linear-gradient(
    90deg,
    hsl(var(--ds-accent-gradient-start)),
    hsl(var(--ds-accent-gradient-end))
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
