/* ------------------------------
     DESIGN TOKENS · Blur
  ------------------------------ */

:root {
  /* Blur radii */
  --ds-blur-subtle: 4px; /* subtle */
  --ds-blur-medium: 8px; /* medium */
  --ds-blur-strong: 12px; /* strong */
  --ds-blur-extra-strong: 20px; /* extra strong */

  /* Blur background colors */
  --ds-blur-bg: hsl(var(--ds-background) / var(--ds-opacity-medium));
}
