/* ------------------------------
     DESIGN TOKENS · Layout
  ------------------------------ */

:root {
  --layout-px-default: 1rem; /* 16px gutters on mobile */
  --layout-px-sm: 1.5rem; /* 24px gutters on sm */
  --layout-px-lg: 2rem; /* 32px gutters on lg+ */

  --layout-w-sm: 640px; /* limit from default tailwind */
  --layout-w-md: 768px; /* limit from default tailwind */
  --layout-w-lg: 1024px; /* limit from default tailwind */
  --layout-w-xl: 1280px; /* limit from default tailwind */
  --layout-w-2xl: 1400px; /* override from default tailwind */
}
