/* ------------------------------
     DESIGN TOKENS · Shadows
  ------------------------------ */

:root {
  /* Shadows (elevation levels) */
  --ds-shadow-subtle: 0 1px 2px 0 rgb(0 0 0 / 8%);
  --ds-shadow-medium: 0 4px 16px 0 rgb(0 0 0 / 16%);
  --ds-shadow-strong: 0 8px 32px 0 rgb(0 0 0 / 24%);
}
